<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceValidation"
        tools:targetApi="31">

        <!-- Existing activities -->
        <activity
            android:name=".DataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TaskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Newly added CompletionActivity -->
        <activity
            android:name=".CompletionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
